@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light !important;
  }

  html,
  body {
    background-color: white !important;
    color: black !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  body {
    @apply font-sans bg-background text-foreground;
  }
}

@layer utilities {
  #clerk-captcha {
    @apply mb-0 pb-0;
  }

  #clerk-captcha > div {
    @apply mb-0 pb-0;
  }

  /* 강제 스타일 제거용 추가 */
  #clerk-captcha,
  #clerk-captcha * {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}
